@model Analysis
@{
    ViewData["Title"] = "Home Page";
}


<form method="post">
    <h3>Web Page Comparer</h3>
    <h5>compare different web pages, find the common and different words or phrases</h5>
    <br />
    <div class="form-row">

        <div class="form-group col-md-5">
            <label asp-for=" Page1">Page 1</label>
            <input asp-for="Page1" class="form-control" placeholder="enter a web url">
        </div>
        <div class="form-group col-md-1">
            <div class="row text-center">
                <br />
                <label>VS</label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label asp-for=" Page2">Page 2</label>
            <input asp-for="Page2" class="form-control" placeholder="enter a web url">
        </div>
        <div class="form-group col-md-1">
            <br />
            <input class="btn btn-primary" type="button" id="btnAnalyze" value="Analyze" />
        </div>
    </div>
    <br />
    <div id="loading" class="text-center"></div>
    <table class="table" id="tblResult">
        <tbody></tbody>
    </table> 
</form> 
